/* element selector */
/* referensi web colorhunt */
body  {
    background-color: pink;
    color: aliceblue;
    font-family: arial;
}

.txt-center { text-align: center;}
.bg-warning { background-color: yellow; border-radius: 20px 0px 20px 0px;}
.txt-black { color: black;}
.p-1 { padding: 10px;} /* memberi jarak sisi dalam border*/
.m-1 { margin: 20px;}  /* memberi jarak sisi luar border*/