/* hp max-width: 600px */
@media screen and (max-width: 600px){
    /* element selector body */
    body {
        background-color: blue;
        text-align: center;
        color: aliceblue;

        padding: 0;
        margin: 0;
    }
    
    .a {
        width: 100%;
        float: left;
        padding: 5px;
    }

    .b {
        padding: 5px;
        float: left;
        width: 100%;
    }
        
    /* clear floar column */
    .row {
        clear: both;
    }
}

/* tablet min-width: 600px */
@media screen and (min-width: 600px){
    /* element selector body */
    body {
        background-color: green;
    }
    
    .a {
        width: 50%;
    }
    .b {
        width: 100%;
    }

/* Desktop min-width: 600px*/
@media screen and (min-width: 992px){
    /* element selector body */
    body {
        background-color: red;
    }
    .a {
        width: 25%;
    }
    .b{
        width: 50%;
    }
}